<?xml version="1.0" ?>
<settings version="1">
	<section id="plugin.video.vantv">
        <category id="general" label="30001">
            <group id="1" label="30001">
                <setting id="username" label="30003" type="string">
                    <level>0</level>
                    <default></default>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
		                <heading>30003</heading>
                    </control>
                </setting>
                <setting id="password" label="30004" type="string">
                    <level>0</level>
                    <default></default>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30004</heading>
                        <hidden>true</hidden>
                    </control>
                </setting>
            </group>
            <group id="5" label="30027">
                <setting id="httpmanifest" label="30028" type="boolean">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
        <category id="export" label="30057">
            <group id="5" label="30058">
                <setting id="channelexportpath" type="path" label="30059">
                    <level>0</level>
                    <default></default>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="button" format="path">
                        <heading>30059</heading>
                    </control>
                </setting>
            </group>
            <group id="6" label="30017">
                <setting id="channelexportname" label="30060" type="string">
                    <level>0</level>
                    <default>channels.m3u</default>
                    <constraints>
                        <allowempty>false</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30060</heading>
                    </control>
                </setting>
                <setting id="exportchannellist" type="action" label="30061">
                    <level>0</level>
                    <data>RunPlugin(plugin://$ID/?action=export_chanlist)</data>
                    <dependencies>
                        <dependency type="enable">
                            <and>
                                <condition operator="!is" setting="channelexportpath"></condition>
                                <condition operator="!is" setting="channelexportname"></condition>
                                <condition operator="!is" setting="accesstoken"></condition>
                            </and>
                        </dependency>
                    </dependencies>
                    <control type="button" format="action">
                        <close>true</close>
                        <!-- It's extremely important to set this to true.
                        If it remains open, settings such as tokens won't be updated. -->
                    </control>
                </setting>
            </group>
        </category>
        <category id="advanced" label="30006">
            <group id="2" label="30007">
                <setting id="useragent" label="30008" type="string">
                    <level>0</level>
                    <default></default>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30008</heading>
                    </control>
                </setting>
                <setting id="devicemodel" label="30030" type="string">
                    <level>0</level>
                    <default></default>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30030</heading>
                    </control>
                </setting>
            </group>
            <group id="3" label="30022">
                <setting id="webaddress" label="30023" type="string">
                    <level>0</level>
                    <default>127.0.0.1</default>
                    <constraints>
                        <allowempty>false</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30023</heading>
                    </control>
                </setting>
                <setting id="minport" label="30024" type="integer">
                    <level>0</level>
                    <default>50000</default>
                    <constraints>
                        <minimum>1024</minimum>
                        <step>1</step>
                        <maximum>65535</maximum>
                    </constraints>
                    <control type="edit" format="integer">
                        <heading>30024</heading>
                    </control>
                </setting>
                <setting id="maxport" label="30025" type="integer">
                    <level>0</level>
                    <default>60000</default>
                    <constraints>
                        <minimum>1024</minimum>
                        <step>1</step>
                        <maximum>65535</maximum>
                    </constraints>
                    <control type="edit" format="integer">
                        <heading>30025</heading>
                    </control>
                </setting>
            </group>
            <group id="4" label="30009">
                <setting id="showtokens" label="30010" type="boolean">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="devicekey" label="30011" type="string">
                    <level>0</level>
                    <enable>false</enable>
                    <default></default>
                    <dependencies>
                        <dependency type="visible" setting="showtokens">true</dependency>
                    </dependencies>
                    <control type="edit" format="string">
                        <heading>30011</heading>
                    </control>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                </setting>
                <setting id="accesstoken" label="30012" type="string">
                    <level>0</level>
                    <enable>false</enable>
                    <default></default>
                    <dependencies>
                        <dependency type="visible" setting="showtokens">true</dependency>
                    </dependencies>
                    <control type="edit" format="string">
                        <heading>30012</heading>
                    </control>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                </setting>
                <setting id="accessexpiry" label="30013" type="string">
                    <level>0</level>
                    <enable>false</enable>
                    <default></default>
                    <dependencies>
                        <dependency type="visible" setting="showtokens">true</dependency>
                    </dependencies>
                    <control type="edit" format="string">
                        <heading>30013</heading>
                    </control>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                </setting>
                <setting id="refreshtoken" label="30014" type="string">
                    <level>0</level>
                    <enable>false</enable>
                    <default></default>
                    <dependencies>
                        <dependency type="visible" setting="showtokens">true</dependency>
                    </dependencies>
                    <control type="edit" format="string">
                        <heading>30014</heading>
                    </control>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                </setting>
                <setting id="refreshexpiry" label="30015" type="string">
                    <level>0</level>
                    <enable>false</enable>
                    <default></default>
                    <dependencies>
                        <dependency type="visible" setting="showtokens">true</dependency>
                    </dependencies>
                    <control type="edit" format="string">
                        <heading>30015</heading>
                    </control>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                </setting>
            </group>
        </category>
    </section>
</settings>